// El archivo .env-example es un ejemplo de cómo debería ser el archivo .env que se utiliza para cargar las variables de entorno en nuestro proyecto. 
// Este archivo no debe ser subido al repositorio, ya que puede contener información sensible como las credenciales de Firebase. 
// En su lugar, cada desarrollador debe crear su propio archivo .env basado en este ejemplo, y asegurarse de agregarlo al .gitignore para evitar que se suba al repositorio. 
// En este ejemplo, solo tenemos la variable PORT, pero en un proyecto real podríamos tener otras variables como las credenciales de Firebase (FIREBASE_API_KEY, FIREBASE_AUTH_DOMAIN, etc.) o cualquier otra configuración que necesitemos para nuestra aplicación.

